@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Work+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto; 
}

body {
	width: 100%;
	height: 100%;
	font-size: 2.8vh;
	font-family: Work Sans, serif;
	line-height: 4.2vh;
	padding: 0 2vh;
	background-color: #FFFCF6; 
}

#banner {
	display: block;
    margin: 0 auto;
    padding: 0;
    width: 1200px; 
    height: 600px; 
}

#wrapper {
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
 
#sidebar {
    width: 300px; 
    height: 100%;
    float: left; 
    background-color: #FFE7C4; 
}

#sidebar div{
	padding: 0.5vh 0;	
	height: 50px;
	text-align: center;
	border-bottom: 3px solid #FFDBD3; 
	line-height: 50px; 
	font-size: 3.6vh; 
	font-family: Fraunces; 
}

#sidebar div:hover{
	background-color: #FDD7C7;
	border: 3px solid #FDB3B3; 
	cursor: pointer;
}

#body {
	margin: 0;
	padding: 15px;
    width: auto; 
    margin-left: 300px; 
    background-color: #FFEFD3; 
}

#body div{
	margin: 10px;
}

#footer {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 1200px; 
    height: 500px; 
}

h1 {
	font-family: Fraunces; 
	line-height: 50px; 

}

h2 {
	line-height: 40px; 
}

h3 {
	line-height: 30px; 
}

img {
	display: block; 
 	vertical-align:top;
}

a {
	color: #575757;
	text-decoration: none; 
}

#banner2 {
	margin: 0 auto;
	opacity: 100; 
	animation: opacityChange 1s ease-in infinite alternate;
}
#banner2:hover{
	cursor: pointer;
}


@keyframes opacityChange {
	from {
		opacity: 100; 
	}
	to {
		opacity: 0;
	}
}